body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
h2 {
    font-size: 120%;
  }

img {
    width: 30px;
    margin-top: 5%;
    vertical-align: middle;
}

  .converter {
    text-align: center;
    background: #0306c5;
    width: 330px;
    height: 230px;
    padding-top: 10px;
    border-radius: 10px;
    color: white;
  }
  
  .formula {
    color: #000;
  }

  input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 6px;
    border: none;
  }
  
  .buttons {
    margin-top: 10px;

  }
  #button {
    border-radius: 6px;
    border: none;
    margin-left: 10px;
    height: 22px;


  }

  .formula {
    margin-top: 40px;
    font-style: italic;
  }